@{ 
    ViewBag.Title = "Columbia Tennis Ladder";
}

<div class="jumbotron">
    <h1>Unofficial Columbia Tennis Ladder</h1>
    <p class="lead">Welcome, this is a small project for Tennis players in Columbia Mo.  
    The idea is for this space to be a place where people can connect with other players, keep track of their accomplishments, and be able to schedule matches and tournaments.
    This is a non profit idea, which will grow hopefully a little by little.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Latests Matches</h2>
        <p>Take a look at recent results</p>
        <p class="comming-soon">Comming Soon</p>
    </div>
    <div class="col-md-4">
        <h2>Tennis Ladder</h2>
        <p>Look where you're at. Challenge other players, and have fun with this great sport.</p>
        <p class="comming-soon">Comming Soon</p>
    </div>
    <div class="col-md-4">
        <h2>Recommend a feature</h2>
        <p>Is there a feature you would like to see implemented? Let me know so I can start plannig for it.</p>
        <p><a class="btn btn-default" href="/recommendfeature">Recommend feature &raquo;</a></p>
    </div>
</div>