@model ColumbiaTennisLadder.ViewModels.RecommendFeatureViewModel

@{ 
    ViewBag.Title = "Recommend a feature";
}

<div class="jumbotron">
    <h1>Recommend a feature</h1>

    @using (Html.BeginForm("RecommendFeature", "Index", FormMethod.Post)) {

    }
</div>